<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events, Watchers, Computed, data binding</h1>
    </header>
    <section id="events">
      <p>Events</p>
      <button v-on:click="add( 5 )">Add</button>
      <button v-on:click="subtract( 5 )">Remove</button>
      <div>Result: {{ counter }}</div>
      <!-- Adding Text together and using event -->
      <input type="text" v-on:input="textAndEventHandling( $event , 'counter' )">
      <div>Your Name: {{ name }}</div>

      <p> Event Modifiers</p>
      <!-- EventModifiers (.prevent == event.preventDefault() ) -->
      <form v-on:submit.prevent="eventModifiers( $event )">
        <input type="text" >
        <button>Prevent form submission</button>
        <br><br>
        <!-- .right == right click only , .left == left click only -->
        <button v-on:click.right="subtract( 1 )">Right Click Only Reactivity</button>
        <br><br>
        <!-- .enter == filter on only hit the enter key -->
        <br>
        <div>
          <input type="text" v-on:keyup.enter="enterEventModifier( $event )">
          Enter confirmed Input {{ confirmedName }}
        </div>
        
        <!-- v-once == values never change after initial pageload. -->
        <div v-once>Starting Counter - {{ counter }}</div>
      </form>

      <p>Data Binding : {{ dataBindingName }}</p>
      <div>
        <span>V-Bind directive: </span>
        <input type="text" 
          v-bind:value="dataBindingName" 
          v-on:input="setDataBindingName($event)"
        >
        <button v-on:click="resetDataBindingName($event)">Reset</button>
      </div>
      <br>
      <div>
        <!-- Identical code both ways -->
        <span>V-Model Directive (2 way binding): </span>
        <input type="text" v-model="dataBindingName">
      </div>
      <div>
        <span>String Interpolation: </span>
        {{ outputFullname() }}
      </div>

      <p>Computed Properties</p>
      <div>
        <span>Basic computed property : </span>
        <span>{{computedName}}</span>
      </div>

      <p>Watchers</p>
      <div>
        <span>Basic Watcher</span>
        <input type="text" v-model="watchedName">
        <br><br>
        <span>{{ watchedResult }}</span>
      </div>

    </section>
  </body>
</html>
